# Servidor de Origem Padrão (host.docker.internal:5432)
SOURCE_PG_HOST=host.docker.internal
SOURCE_PG_PORT=5432
SOURCE_PG_USER=postgres
SOURCE_PG_PASSWORD=postgres

# Servidor Local de Destino dos Clones
TARGET_PG_USER=postgres
TARGET_PG_PASSWORD=postgres

# DynamoDB Workbench (Opcional - AWS Cloud ou DynamoDB Local)
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_SESSION_TOKEN=
DYNAMODB_ENDPOINT=http://dynamodb-local:8000
